# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

###Custom###
./client/node_modules/
client/src/json/NEW_YORK/NewYorkDistricts.json
backend/database/tempCodeRunnerFile.py
.vscode/settings.json
client/node_modules/.cache/babel-loader/20ffa50c20f776301b6ff8b20197d8f0.json
client/node_modules/.cache/babel-loader/43324608c3722cdad8f8fe3bc0ffc6f2.json
client/node_modules/.cache/babel-loader/5f3704c01376c69a043cb3ddd2602015.json
client/node_modules/.cache/babel-loader/70b2c77540ae682f30fca062af02c0a8.json
client/node_modules/.cache/babel-loader/783bacd94f121556b14338ede5f76b59.json
client/node_modules/.cache/babel-loader/870cb9c295dba39ff90bf91be16acea2.json
client/node_modules/.cache/babel-loader/9d4a680194fd452ec096e0830b1a8d7a.json
client/node_modules/.cache/babel-loader/9e59719fdd2332e118dd9ffe2072e3d9.json
client/node_modules/.cache/babel-loader/a186905d14b0f6b006f412744c4d926b.json
client/node_modules/.cache/babel-loader/ad2caf47ebaa5ddf54d69ed5011041d5.json
client/node_modules/.cache/babel-loader/c7c9dc188733d2f1a45e674b88701842.json
client/node_modules/.cache/babel-loader/cfed07fffe2f1e821dcbd64fd27c76b0.json
client/node_modules/.cache/babel-loader/e009a7cace4b7c41f9b7b93fe137a06b.json
client/node_modules/.cache/babel-loader/e8768519ca91d300df61c5936900befd.json
client/node_modules/.cache/babel-loader/ea92911439efc9a5e2eac2c1e1ff55da.json
client/node_modules/.cache/babel-loader/f7f63b61e33f1cd6a22ce486d883199b.json
client/node_modules/.cache/babel-loader/ff2c1cdeef6a97f5f553ec7c709cb2b0.json
client/node_modules/.cache/eslint-loader/08472434d2b82e8995d1f6e3a81319fe03c3251f.json.gz
client/node_modules/.cache/eslint-loader/0ae59165effa85c1ce7bc75c025a3874bff464cc.json.gz
client/node_modules/.cache/eslint-loader/1ab7680b3a5ad4e2c501f2bffae447787008b5b8.json.gz
client/node_modules/.cache/eslint-loader/37899f6407482af45032265a19b817c1914a888c.json.gz
client/node_modules/.cache/eslint-loader/4256b6a939e4cd7d8dfd4d00a696248d7e4b021d.json.gz
client/node_modules/.cache/eslint-loader/439864cf0cfe5e0068529eaf2244f9ef75a7b762.json.gz
client/node_modules/.cache/eslint-loader/6e5175c9bf38b0f2f6fb11fd8a676f073ce7bea7.json.gz
client/node_modules/.cache/eslint-loader/72b5c49e9e9841c59d060afb8d6c299b71e8253c.json.gz
client/node_modules/.cache/eslint-loader/8d0b19cd3d55fc5bef70402522b2ba98b9b25c90.json.gz
client/node_modules/.cache/eslint-loader/93f706ab0e1ed93d71cef2babb8dd2e95f01909c.json.gz
client/node_modules/.cache/eslint-loader/957cc3385b970ca325bf929cfd150d2e834a2f2b.json.gz
client/node_modules/.cache/eslint-loader/c0d42b5e643163443696219f438635c400818061.json.gz
client/node_modules/.cache/eslint-loader/c47455944f222a73b05314485b8a90d583d15fb5.json.gz
client/node_modules/.cache/eslint-loader/d468d0f71577cc98e7436661511c2b30744872fe.json.gz
client/node_modules/.cache/eslint-loader/e00cade5ab9e07c9e1f07c9199726b3aec2eac07.json.gz
client/node_modules/.cache/eslint-loader/f490f9a789d97ded222f9571f6c8b96b07764dd7.json.gz
client/node_modules/.cache/eslint-loader/fb7aca0cb33c1fbdcc289249a28c9ab69c7c151d.json.gz
client/src/json/NEW_YORK/NewYorkDistricts.json
client/src/json/NEW_YORK/NewYorkDistricts.json
client/src/json/NEW_YORK/NewYorkDistricts.json
client/src/json/NEW_YORK/NewYorkDistricts.json
backend/database/tempCodeRunnerFile.py
client/src/json/NEW_YORK/NewYorkDistricts.json
