/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                        /* INITIALIZATION OF WEBPAGE */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

html, body {
  margin : 0;
  height: 100%;
}

#home_screen {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
}

/* TO HOLD BOTH SIDEBAR AND MAP */
#mainPanelWrapper {
  height:100%;
  padding: 0;
  /* margin-top: 16px; */
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                              /* NAVIGATION BAR */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#navbarWrapper { /* color: #a72a17; */ }

.navbar {
  background-color: #a72a17;
  min-height: 65px;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                              /* MAP PANEL */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#ourMap {
  position:absolute;
  width: 100%;
  height: 680px;
  z-index:1;
}

#mapPanelWrapper {
  position:relative;
  padding: 0;
  margin-left: auto;
  /* height: 700px; */
}

#mapFilters {
  position:absolute;
  z-index: 2;
  right : 0;
  margin-right: 2%;
  margin-top: 0.5%;
  width: 300px;
  height: 30px;
}

#clusterFilters {
  position:absolute;
  z-index: 2;
  right : 0;
  margin-right:30%;
  margin-top: 0.5%;
  width: 210px;
  height: 30px;
}

#currentItems {
  position: absolute;
  font-size: 10pt;
  /* right: 300px; */
  left: 290px;
  top: 600px;
  z-index: 50;
  /* background-color: black; */
}

#currentBatchMap {
  color: black;
}

#currentPlanMap {
  color: black;
}



/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                              /* SIDEBAR */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.pro-sidebar-layout {
  /* height : 100%; */
  display : block !important;   /* original CSS had display : flex. I overwrote it because it caused problems. */
}

#mainSidebar {
  position: absolute;
  height: 680px;
}

#sideBarWrapper {
  float :left;
  height: 680px;
}

#sidebarHeader {
  /* position: sticky; */
  height: 15%;
  visibility: visible;
  /* position: absolute; */
}

#menuofCategories {
  /* margin-top: 100px; */
  display: block;
}

#usaFlag {
  margin-left: 18px;
}

#currentState {
  font-family:'Georgia';
  font-weight:bold;
  margin-bottom:6px;
  margin-left: 12px;
}

#dropdownButton {
  height:30px;
  width:150px;
}

.stateSelect {
  font-family:'Georgia';
  font-weight: bold;
  font-size: 12;
}

#collapseButtonLeft {
  /* position : absolute; */
  margin-right: 5px;
  float : right;
  visibility: visible;
}

#collapseButtonLeft:hover, #collapseButtonRight:hover {
  color: darkgray;
}

#collapseButtonRight {
  /* position : absolute; */
  float : right;
  visibility: hidden;
  margin-right: 5px;
  
}

#yourBatchesWrapper {

}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                              /* BATCH CARDS */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.districtPlan, .batchCard {
  /* background-color: red; */
  width: 90%;
  height: 30px;
  cursor: pointer;
}

.selectedBatch {
  background-color: #75a9f9;
}

.planContents, .batchcardContents {
  margin-top: 3px;
}

.planDelete, .batchcardDelete {
  float : left;
  margin-left: 5px;
  height: 20px;
  /* height: 15px; */
  /* width: 15px; */
}

.batchPending {
  background-color : grey !important;
}

.batchSuccess {}

.batchdisplayPending {
  color : red!important;
  /* color : lightpink; */
}

.batchdisplaySuccess {
  color : green !important;
  /* color : lightpink; */
}

.batchStatusModal {
  /* position: absolute; */
  /* margin-right: 5%; */
  float: right;
}

.batchTitle {
  float:left;
}

.planView, .batchcardView {
  float : right;
  height: 20px;
}

.viewText, .deleteText {
  font-size: 14px;
}
.deleteText {
  font-size: 12px;
}

.planTitle, .batchcardTitle {
  font: "Georgia";
  font-size: 16px;
  float: center;
}

.modalView {
  z-index: 100;
  height: 100%;
  width: 100%;
  /* display: block; */
}

.modal {
  display: block !important; /* overwriting display of modal in bootstrap */
} 

.goTopBatch {
  position: absolute;
  bottom: 80%;
  left: 5%;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                            /* DISTRICT PLANS */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

/* MANY OF THE CSS CLASSES ARE SHARED IN THE BATCH SECTION. PLEASE REFER TO THAT SECTION. */

.goTopPlan {
  position: absolute;
  bottom: 68%;
  left: 5%;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                           /* GENERATE BATCHES  */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.rangeSliderContainer {
  width: 140px;
}

.InputContainer {

}

.customBatchNameContainer {
  width: 210px;
}

.minorityFocusStyle {
  color : black;
  width: 210px;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
                          /* DISPLAY GRAPH PANEL */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.graphDisplayWrapper {
  width: 300px;
  height: 400px;
}

#plotView1 {
  position: absolute;
  width: 232px;
  height: 300px;
}

#plotView2 {
  width: 100% !important;
  height: 100% !important;
}

.buttonGraphEdit {
  float: right;
  margin-right: 30%;
}